*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    background-color: rosybrown;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;


}
.container{
    height: 80vmin;
    display: flex;
    justify-content: center;
    
}
.game{
    width: 74vmin;
    height: 68vmin ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1vmin;
    padding: 1vmin;
    align-items: center;
    gap: 0.5vmin;
 
}
.box{
    width: 17vh;
    height: 20vh;
    margin: 2vh;
    background-color: black;
    color: white;
    border-radius: 29px;
    font-size: 10vh;
}
.restart{
    width:13vmin;
    height: 4vmin;
    border-radius: 16vmin;
    background-color: red;
    color: white;
    margin: 1vmin;
}
.newgame{
    background-color: red;
    color: white;
    width:13vmin;
    height: 4vmin;
    border-radius: 16vmin;
    margin-top: 1vmin;
}
.msg-container{
    text-align: left;
    margin-left: 20vmin;
    font-size: large;
    color: greenyellow;
}
.hide{
    display: none;
}
